/* Global reset for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Defining default font*/
body {
    font-family: 'Krub', sans-serif;
    font-size: 1em;
    word-spacing: 1px;
}

/* Styles for the main navigation bar */
#navigation-top{
    display: flex;
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.625rem 1.25rem;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 5px solid #d1fdfd;
    z-index: 1;
    overflow: hidden;
}
.nav-links{
    display: flex;
    gap: 1em;
    list-style: none;
    align-items: center;
    text-transform: capitalize;
    flex-wrap: wrap;
}

/* Styles for all links */
.link-item {
    line-height: 1.25rem;
    border: transparent;
    padding: 0.435rem;
}
.link-item:hover{
    border: 1px solid #982525;
    border-radius: 0.325rem;
    background-color: #d1fdfd;
}

/* Header Styles */
.heading{
    display: flex;
    justify-content: center;
    margin: 1em 18vw 0.35em 18vw;
}
.logo {
    width: 3.75rem;
    background-size: cover;
    display: block;
    margin-right: 1.25rem;
    background-image: url('../img/logo.png');
}

/* Styles for content in all sections*/
.content-container{
    margin: 1.25rem 18vw 3.125rem 18vw;
    padding: 0 1.5rem 0.5rem 0.625rem;
    border-top: 5px solid #d1fdfd;
    background: #f5f5f5;
    scroll-margin-top: 5rem;
}

/* Basic styling for lists */
.info {
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0.5rem 0.25rem 0;
}
.info::before {
    content: "→";
    margin-right: 0.5em;
}

/* Styles for Skills section */
#skills .info {
    display: flow;
    padding: 0.25rem 0;
}
.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}
.date {
    margin-left: 0;
    margin-right: 0.7em;
    min-width: fit-content;
    text-align: left;
}

/* Heading styles */
h1, h2 {
    color: #016565;
    margin: 0.35em 0 0.35em 0;
    justify-self: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    flex: 1;
}
h1 {
    text-align: center;
}

/* Removing default list-style for unordered list items */
ul li {
    list-style-type: none;
}

/* Grid styling for Experience section */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}
.grid-item {
    display: flex;
    flex-direction: row;
}
.one-exp {
    display: flex;
    flex-direction: column;
    padding-left: inherit;
}

/* Basic styling for links */
a {
    cursor: pointer;
    color: black;
}
a:hover {
    color: #982525;
}

/* Social media styling */
.social-link {
    padding-right: 2em;
    display: inline;
}
.fa{
    padding-right: 0.65em;
}

/* Basic styling for paragraphs */
.paragraph{
    padding: 0 0.65em 0.65em 0;
}

/* Styling for Projects list */
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 0 0.5em;
    text-transform: capitalize;
}
#projects .info {
    display: flow;
    flex-direction: column;
    font-weight: bold;
}
#projects p {
    font-weight: normal;
    padding-left: 1.5em;
    text-transform: none;
}

/* Style for error messages on UI */
.error-message {
    color: red;
}

/* Styling for buttons and inputs */
button {
    display: inline-block;
    background-color: #016565;
    color: #d1fdfd;
    border: none;
    padding: 0.35rem 0.65rem;
    margin: 0.5rem 0.5rem;
    border-radius: 0.325rem;
    font-weight: bold;
    font-size: 0.75em;
}
button:hover {
    outline: none;
    background-color: #982525;
}
#submit-button{
    margin-left: 0;
}
input[type="text"] {
    width: 100%;
    padding: 0.25rem 0.35rem;
    margin: 0.25rem 0;
    box-sizing: content-box;
    font-family: "Krub", sans-serif;
    letter-spacing: 1px;
}
textarea{
    width: 100%;
    padding: 0.25rem 0.35rem;
    margin: 0.25rem 0;
    box-sizing: content-box;
    font-family: "Krub", sans-serif;
}

/* Styling for editing messages*/
.edit-mode {
    background-color: #fff;
    color: #000;
}

/* Styling for footer credits */
.footer-credit{
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 0.2em;
}

/* Dark mode styling */
.dark-button {
    float: right;
    width: max-content;
    position: fixed;
    right: 0.25rem;
    background-color: #016565;
}
/* Logo for dark mode */
.dark-mode .content-container,
.dark-mode #projects a,
.dark-mode #connect a,
.dark-mode #messages a,
.dark-mode .link-item:hover,
.dark-mode .footer-credit {
    background: #5c5c5c;
}
.dark-mode #logo-img {
    content: url('../img/logo-light.png');
}
.dark-mode a:hover {
    background: #5c5c5c;
    color: #f89c9c;
}
.dark-mode,
.dark-mode a,
.dark-mode h1,
.dark-mode #navigation-top,
.dark-mode button,
.dark-mode label {
    background-color: #000;
    color: #f5f5f5;
    animation: none;
}
.dark-mode button:hover {
    outline: none;
    background-color: #982525;
}
.dark-mode h2 {
    color: #d1fdfd;
}
/* Dark mode styling for message entry */
.dark-mode input,
.dark-mode textarea,
.dark-mode #leave-message textarea,
.dark-mode #leave-message input[type="text"]
{
    color: #000;
    background-color: #f5f5f5;
}

/* Responsive styles for smaller screens
 for all device sizes (mobile, tablet, desktop, etc.)*/
@media screen and (max-width: 1800px) {
    /* Adjusting grid layout */
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media screen and (max-width: 925px) {
    /* Adjusting column count for skills list */
    .skills-list {
        column-count: 1;
    }
}
@media screen and (max-width: 850px) {
    /* Adjusting for social links */
    .social-link {
        display: block;
        padding-bottom: 0.375em;
    }
    /* Adjusting grid layout */
    .skills-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
}
/* Displaying on narrow web and mobile windows
with Labeled hamburger menu */
@media screen and (max-width: 600px) {
    /* Adjusting font size */
    body {
        font-size: 14px;
    }
    /* Adjusting navigation links for vertical layout */
    #navigation-top {
        flex-direction: column;
        align-items: center;
        min-height: max-content;
        padding: 0.625rem 0;
        display: flex;
        justify-content: flex-start;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }
    .link-item {
        margin-bottom: 0;
        padding: 0.25em;
        font-size: 1em;
    }
    /* Adjustments to logo placement */
    .logo {
        margin-bottom: 0.5em;
        margin-right: 0;
    }

    /* Adjustments for content container */
    .content-container{
        margin: 1.25rem 15vw 3.15rem;
        scroll-margin-top: calc(16rem);
    }
    .info {
        flex-wrap: wrap;
    }
    .one-exp {
        padding-right: 1em;
        padding-left: 1.4em;
    }

    /* Grid layout adjustments */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .skills-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    }
}
/* Displaying on narrow Mobile Phones screens */
@media screen and (max-width: 415px) {
    .content-container{
        margin: 1.25rem 12vw 3.15rem;
    }
    /* Adjustments for paragraphs */
    #projects p {
        padding: 0 1em 0 1em;
    }
}
