*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
    word-spacing: 1px;
    text-decoration: none;
}
.heading{
    width: 100%;
    margin: 10px;
}
.logo {
    width: 60px;
    background-size: cover;
    display: block;
    margin-right: 20px;
}
.content-container{
    margin: 20px 20vw 50px 20vw;
    padding: 0 0 10px 10px;
    border-top: 5px solid #d1fdfd;
    background: #f5f5f5;
    scroll-margin-top: 80px;
}
.info {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info::before {
    content: "→";
    margin-right: 10px;
}
#skills .info {
    display: flow;
}
.date {
    margin-left: auto;
}
h1, h2 {
    color: #016565;
    margin: 10px 0 5px 0;
    justify-self: left;
    text-transform: capitalize;
}
ul li {
    list-style-type: none;
}
.heading {
    display: flex;
    justify-content: center;
}
#navigation-top{
    display: flex;
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    background-color: #f5f5f5;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 5px solid #d1fdfd;
    z-index: 1;
}
.nav-links{
    display: flex;
    gap: 1em;
    list-style: none;
    align-items: center;
    text-transform: capitalize;
}
.link-item {
    line-height: 20px;
    border: transparent;
    padding: 7px;
}
.link-item:hover{
    border: 1px solid #982525;
    border-radius: 5px;
    background-color: #d1fdfd;
}
a {
    cursor: pointer;
    color: black;
}
a:hover {
    color: #982525;
}
.social-link {
    padding-right: 30px;
    display: inline;
}
.fa{
    padding-right: 10px;
}
.paragraph{
    padding: 0 10px 10px 0;
}
@media screen and (max-width: 850px) {
    .social-link {
        display: block;
        padding-bottom: 5px;
    }
}